<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
    <mat-toolbar-row color="primary">
        <section>
            <mat-checkbox [(ngModel)]="showContainer"> Container</mat-checkbox>
            <mat-checkbox [(ngModel)]="showNetwork"> Network</mat-checkbox>
            <mat-checkbox [(ngModel)]="showVolume"> Volume</mat-checkbox>
        </section>

            <button mat-fab>Refresh</button>
      </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      Sidenav content
    </mat-sidenav>

    <mat-sidenav-content>
      <div id="mynetwork" style="width: 100%;height: 500px;"></div>
      <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
      <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
      <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side" [(opened)]="opened">
          Sidenav content
        </mat-sidenav>

        <mat-sidenav-content>
          <div id="mynetwork" style="width: 100%;height: 500px;"></div>
          <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
          <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>

        </mat-sidenav-content>
      </mat-sidenav-container>



